package template

templ Index() {
	<html>
        <head>
            <script src="/js/htmx.min.js"></script>
        </head>

        <body>
            <div>Hello, World!</div>
        </body>
    </html>
}
